
body {
    font-family: "Open Sans", sans-serif;
    color: #444;
}

h1, h2, h3, h4 {
    font-family: Yellowtail;
    font-weight: normal;
    color: #06a;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
}

    header h1 {
        font-size: 46px;
        text-align: center;
        margin: 15px 10px;
    }

article h1 {
    font-size: 26px;
    margin: 0 0 15px;
}

article canvas {
    width: 800px;
    height: 300px;
    border: 1px solid #ccc;
}

pre.source {
    background: #e5eeee;
    padding: 10px 20px;
    width: 760px;
    overflow-x: auto;
    border: 1px solid #acc;
}

code {
    background: #cff;
}

.tools {
    margin-bottom: 10px;
}

    .tools a {
        border: 1px solid black;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        color: black;
        font-weight: bold;
    }

    /*the main divs for layout*/ 
#column1-wrap {
    float: left;
    width: 100%;
}

#column1 {
    /*background-color: cyan;*/
    margin-top:70px;
    margin-left: 180px;
  
}

#column2 {
    /*background-color: cyan;*/
    float:left;
    margin-top:10px;
    margin-left: 780px;
}



#clear {
    clear: both;
}

/* angular js hide and show ng-show*/
.ng-hide {
  /* Not to worry, this will override the AngularJS default...
  display:block!important;

  /* this is just another form of hiding an element */
  position:absolute;
  top:-9999px;
  left:-9999px;
}
.ng-show {
  
  
}

 #left, #right, #middle {
    display: table-cell;
     padding-left:1em;
    width:160px;
    position:relative;
    }

 #submitButtonFormat {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin-left:5px;
}



#submitButtonFormat:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}

MysubmitButtonFormat {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin-left:5px;
}

/*button style for image operations*/

.styled-button-8 {
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
    width:100px;
   
    
}       
/*Button for text operations*/         
.styled-button-1 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}
.styled-button-6 {
	background:#f78096;
	background: -moz-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f78096),color-stop(100%,#f56778));
	background: -webkit-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -o-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -ms-linear-gradient(top,#f78096 0%,#f56778 100%);
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f78096',endColorstr='#f78096',GradientType=0);
	padding:5px 4px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
    height: 34px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ae4553;
    width:120px;
}  
.styled-button-61 {
    
	background:#f78096;
	background: -moz-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f78096),color-stop(100%,#f56778));
	background: -webkit-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -o-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -ms-linear-gradient(top,#f78096 0%,#f56778 100%);
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f78096',endColorstr='#f78096',GradientType=0);
	padding:5px 4px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
    height: 30px;
    width: 108px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ae4553;
     float:left;
}  
.styled-button-611 {
    
	background:#f78096;
	background: -moz-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f78096),color-stop(100%,#f56778));
	background: -webkit-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -o-linear-gradient(top,#f78096 0%,#f56778 100%);
	background: -ms-linear-gradient(top,#f78096 0%,#f56778 100%);
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f78096',endColorstr='#f78096',GradientType=0);
	padding:5px 4px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
    height: 60px;
    width: 108px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ae4553;
     float:right;
     margin-right:-70px;
} 
.styled-select_select-1 {
   background:#f78096;
   width: 108px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   padding:5px 4px;
   border: 0;
   border-radius: 4px;
   height: 35px;
   -webkit-appearance: none;
   }              

label { 
  margin: 0; 
  padding: 0; 
  display: block; 
  font-size: 80%; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 6em; 
  text-align:left; 
  float: left; 
}

/* Cloud */
		
/* Gradient color1 - color2 - color1 */
		

#btnPrevious
{
    float:left;
}
#spanStage
{ 
    vertical-align:middle;    
    font-weight:bold;

}

.styled-select_locate_login
{
    float:right;
    background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
    width:40px;
    padding-left:1em;
    padding-right:1em;
    margin: 2px;

   
}
 